<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 20px 26px 20px">
    <h1 style="text-align: left; margin-top: 40px; font-size: 24px">
      Reset Password
    </h1>
    <p style="margin: 0">Cek email ketika sudah di submit</p>
  </div>
  <ion-content>
    <div style="padding: 0 26px 0">
      <div style="margin: 18px 0">
        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-input>
      </div>

      <ion-button expand="block" style="height: 46px; margin-top: 10px"
        >Kirim Email</ion-button
      >
      <div style="margin-top: 20px; text-align: center">
        <a routerLink="/login">Sudah punya akun? Masuk</a>
      </div>
    </div>
  </ion-content>
</ion-content>
