<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 20px 26px 0">
    <h1 style="text-align: left; margin-top: 40px; font-size: 24px">Daftar</h1>
    <p>Daftar untuk membuat akun</p>
  </div>
  <ion-content>
    <div style="padding: 0 26px 0">
      <div style="margin: 18px 0">
        <ion-input
          label="Nama Lengkap"
          label-placement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-input>
      </div>
      <div style="margin: 18px 0">
        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-input>
      </div>
      <div style="margin: 18px 0">
        <ion-input
          label="Password"
          label-placement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-input>
      </div>
      <div style="margin: 18px 0">
        <ion-input
          label="Ulangi Password"
          label-placement="floating"
          fill="outline"
          placeholder="Enter text"
        ></ion-input>
      </div>

      <ion-button expand="block" style="height: 46px; margin-top: 10px"
        >Daftar</ion-button
      >
      <div style="margin-top: 20px; text-align: center">
        <a routerLink="/login">Sudah punya akun? Masuk</a>
      </div>
    </div>
  </ion-content>
</ion-content>
